:root{--bg:#ffeada;--db:#aa7b58;--fg:#4b2100;--nt:#00bf9f;--red:#b83f3f;--green:#4dad44;--blue:#5a71d8;--yellow:#c0ae48;--grey:#9e9e9e;--purple:#d431cc;}
html{height:100%;width:100%;}
body{height:100%;color:var(--fg);background-color:var(--bg);padding:none;font-size:calc(17px + 0.3vh);}
hr {color:var(--nt);border-width:3px;border-top:none;}
h1, h2, h3, h4 {box-shadow: 0px 13px 13px var(--db);}
h1 {margin-top:1ch;}
h1, h3{background-color:var(--nt);padding:1ch;}
h2, h4{padding:1ch;}
table{border:3px solid var(--nt);width:50%;margin:auto;}
h1, h2{font-size:medium;}
h3, h4{font-size:medium;margin:auto;}
h1{width:95%;}
h2{width:95%;border-bottom:solid 3px var(--nt);}
h3{width:20%;}
h4{border-bottom:solid 3px var(--nt);width:fit-content;}
a{text-decoration:none;color:var(--nt);}
a:hover{text-decoration:underline;}
p{padding:1ch;}
article, ul, ol{width:70%;max-width:160ch;margin:auto;}
aside{width:50%;margin:auto;border:solid 3px var(--nt);}
figure{display:block;border:solid 3px var(--nt);margin:auto;width:80ch;padding:1ch;}
figure code{font-family:monospace;display:block;width:fit-content;margin:auto;}
figcaption{text-align:center;width:80ch;margin:auto;}
h1, h3, aside, figure, table{border-top-left-radius:20px;border-bottom-right-radius:20px;}
pre{display:inline;}
svg{height:70vh;width:auto;display:block;margin:auto;background-color:var(--nt);border-bottom-right-radius:50px;border-top-left-radius:50px;margin-bottom:5vh;margin-top:5vh;padding:17px;}
@media only screen and (max-width: 900px) {article, aside, ul, ol, table{width:100%;}}
@media print{*~h1{break-before:page;}article, aside, figure{break-inside:avoid;}}
