:root{--bg:#fff9ee;--db:#aa7b58;--fg:#322000;--nt:#00d0b5;--red:#b83f3f;--green:#4dad44;--blue:#5a71d8;--yellow:#c0ae48;--grey:#9e9e9e;--purple:#d431cc;}
html{height:100%;width:100%;overflow-x:hidden;}
body{color:var(--fg);background-color:var(--bg);padding:none;font-size:calc(1vh + 1vw);counter-reset:article;padding-bottom:5ch;}
hr {color:var(--nt);border-width:0.1ch;border-top:none;border-bottom:solid;}
h1, h2, h3, h4{font-size:inherit;text-align:center;margin:auto;font-size:calc(1.4vh + 0.7vw);}
h1 {margin-top:1ch;}
h1 {box-shadow: 0px 0px 15px 0px var(--fg);}
h1, h3{background-color:var(--nt);padding:1ch;}
h2, h4{padding:1ch;}
table{border:0.1ch solid var(--nt);width:50%;margin:auto;}
h3, h4{margin:auto;}
h1{width:95%;}
h2{width:70%;border-bottom:solid 0.1ch var(--nt);}
h3{width:33%;padding:0;}
h4{border-bottom:solid 0.1ch var(--nt);}
h1, h2, h3, h4 {margin-bottom:1ch;}
a, summary{text-decoration:underline;color:var(--fg);}
a:hover, summary:hover{color:var(--nt);}
summary::marker{content:none;}
p, ol, ul, table, details{padding:1ch;width:70%;margin:auto;}
table{margin-top:1ch;}
ul, ol{max-width:160ch;}
article{counter-increment:article;}
code, pre{font-family:monospace;color:var(--nt);}
aside{width:70%;margin:auto;border:solid 0.1ch var(--nt);margin-bottom:1ch;}
aside>*{width:90%;}
figure{border:solid 0.1ch var(--nt);margin:auto;width:fit-content;padding:1ch;margin-bottom:1ch;overflow:auto;}
figure code{display:block;width:80ch;margin:auto;font-size:calc(0.8vh + 0.8vw);color:var(--fg);}
figcaption{text-align:center;width:100%;margin:auto;}
h1, h3, aside, figure, table{border-top-left-radius:calc(1vh + 1vw);border-bottom-right-radius:calc(1vh + 1vw);}
pre{display:inline;}
svg{height:30ch;width:30ch;display:block;margin:auto;background-color:var(--nt);border-bottom-right-radius:calc(1vh + 1vw);border-top-left-radius:calc(1vh + 1vw);border:3px solid var(--nt);margin-bottom:5vh;margin-top:5vh;padding:17px;}
footer a{text-align:center;position:absolute;bottom:0;width:100%;}
nav {text-align:center;width:100%;position:fixed;z-index:100;bottom:0;background-color:var(--bg);}
nav a + a{margin-left:40vw;margin-right:40vw;}
nav a + a + a{margin:0;}
@media only screen and (max-width: 900px) {p, aside, ul, ol, table{width:100%;}}
@media print{h1, h2, h3, h4{page-break-after:avoid;}article{page-break-inside:avoid;page-break-after:always;}figure{page-break-inside:avoid;}}
