:root{--bg:#fff9ee;--db:#aa7b58;--fg:#322000;--nt:#00d0b5;--red:#b83f3f;--green:#4dad44;--blue:#5a71d8;--yellow:#c0ae48;--grey:#9e9e9e;--purple:#d431cc;}
html{height:100%;width:100%;overflow-x:hidden;}
body{color:var(--fg);background-color:var(--bg);padding:none;font-size:calc(1vh + 1vw);counter-reset:article;}
hr {color:var(--nt);border-width:0.1ch;border-top:none;border-bottom:solid;}
h1, h2, h3 {font-size:inherit;text-align:center;margin:auto;font-size:calc(1.4vh + 0.7vw);}
h1 {margin-top:1ch;}
h1 {box-shadow: 0px 0px 15px 0px var(--fg);}
h1, h3{background-color:var(--nt);padding:1ch;}
h2, h4{padding:1ch;}
table{border:0.1ch solid var(--nt);width:50%;margin:auto;}
h3, h4{margin:auto;}
h1{width:95%;}
h2{width:70%;border-bottom:solid 0.1ch var(--nt);}
h3{width:33%;}
h4{border-bottom:solid 0.1ch var(--nt);}
h1, h2, h3, h4 {margin-bottom:1ch;}
a{text-decoration:none;color:var(--nt);}
a:hover{text-decoration:underline;}
p, ol, ul, table, details{padding:1ch;width:70%;margin:auto;}
table{margin-top:1ch;}
ul, ol{max-width:160ch;}
article{counter-increment:article;}
/*article:after{content:counter(article);position:relative;display:block;left:calc(95% - 6ch);top:0;border-bottom:solid var(--nt) 0.1ch;border-right:solid var(--nt) 0.1ch;width:7ch;text-align:right;border-bottom-right-radius:calc(1vh + 1vw);padding:1ch;}*/
code, pre{font-family:monospace;}
aside{width:50%;margin:auto;border:solid 0.1ch var(--nt);}
figure{border:solid 0.1ch var(--nt);margin:auto;width:95%;padding:1ch;margin-bottom:1ch;overflow:auto;}
figure code{display:block;width:80ch;margin:auto;font-size:calc(0.8vh + 0.8vw);}
figcaption{text-align:center;width:100%;margin:auto;}
h1, h3, aside, figure, table{border-top-left-radius:calc(1vh + 1vw);border-bottom-right-radius:calc(1vh + 1vw);}
pre{display:inline;}
svg{height:30ch;width:30ch;display:block;margin:auto;background-color:var(--nt);border-bottom-right-radius:calc(1vh + 1vw);border-top-left-radius:calc(1vh + 1vw);border:3px solid var(--nt);margin-bottom:5vh;margin-top:5vh;padding:17px;}
footer a{text-align:center;position:absolute;bottom:0;width:100%;}
nav {text-align:center;width:100%;}
@media only screen and (max-width: 900px) {article, aside, ul, ol, table{width:100%;}}
@media print{h1, h2, h3, h4{page-break-after:avoid;}article{page-break-inside:avoid;page-break-after:always;}figure{page-break-inside:avoid;}}
